@charset "utf-8";
/* CSS Document */

th.scene_id_row {
	width:80px;
}

th.scene_state_row {
	width:80px;
}

th.scene_owner_row {
	width:140px;
}

th.scene_title_row {
	width:240px;
}

td.pose_time {
	min-width:80px;
	text-align:left;
}

td.pose {	
}



td.player_name {
	color:#FFF;
	font-family: Fixed, monospace;
	font-size: 10pt;
}

td.pose_ignore {
	color:#C93;
	text-decoration:line-through;
}

#scene_info
{	
	text-align: center;
	font-family: Fixed, monospace;
  	font-size: 10pt;
  	color: #BBBBBB;
}

/* A helper so that logs with little to no poses do not cut off the body tag too early - making the color look wonky. */
html{
	min-height:100%;
	margin:0;
}

/* The main body's look */
body{
	background: -webkit-gradient(linear, left top, left bottom, from(#53538C), to(#111122));
}

/* The header */
#sceneheader {
	text-align:center;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
	background:#101010;
	font-family: Fixed, monospace;
  	font-size: 10pt;
  	color: #FFF;
	margin-bottom:10px;
}

/* The general table that holds the poses */
#posetable {
	width:100%;	
}

#posetable tr:nth-child(even) {
    background-color:#000;
}

#posetable tr:nth-child(odd) {
    background-color:#101010;
}
#posetable tr:nth-last-child(1) td:nth-child(1) {
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
}
#posetable tr:nth-last-child(1) td:nth-last-child(1) {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
}
#posetable tr:nth-child(1) td:nth-child(1) {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
}
#posetable tr:nth-child(1) td:nth-last-child(1) {
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}


/* For the administration tool */
tr.tDnD_whileDrag {
	font-weight:bold;
	background:#CCC;
	color:#FFF;
}
tr.tDnD_whileDrag td{
	background-color:#222;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
	border:groove;
}

/*

	SCENE LISTING CSS
	
*/

/* The general table that holds the scenes */
#scenetable {
	color:#dddddd;
	width:100%;
	table-layout:fixed;
}

#scenetable tr:nth-child(even) {
    background-color:#000;
}

#scenetable tr:nth-child(odd) {
    background-color:#101010;
}
#scenetable tr:nth-last-child(1) td:nth-child(1) {
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
}
#scenetable tr:nth-last-child(1) td:nth-last-child(1) {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
}
#scenetable tr:nth-child(1) td:nth-child(1) {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
}
#scenetable tr:nth-child(1) td:nth-last-child(1) {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.sceneid {
	width:3em;
}

.state_Active {
	color:lightgreen;
}

.state_Paused {
	color:yellow;
}

.state_Unfinished {
	color:gray;
}

.state_Finished {
	color:white;
}

a:visited {
	color:lightgray;
}

a {
	color:lightblue;
}

.sceneowner {
	width:10em;
	}

.scenestate {
	width:5em;
}

.scenetitle {
	width:20em;
}

.scenedesc {
	width:100%;
	max-width:100%;
	min-width:100%;
	word-wrap:break-word; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden; 
	max-height:1.4em; 
	height:1.4em; 
	display:block;
}

/* 
      SCHEDULE CSS
*/

#scheduleheader {
	text-align:left;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
	background:#101010;
	font-family: Fixed, monospace;
  	font-size: 10pt;
  	color: #FFF;
	padding:10px;
}

#scheduleheader th {
	text-align:center;
}