.pose {
  /* white-space: pre; */
  font-family: Fixed, monospace;
  font-size: 10pt;
  color: #BBBBBB;
  background-color: inherit;
}

.pose .flash { text-decoration:blink; }
.pose .underline {text-decoration:underline; }

.pose .bg_x { background-color: #000000; }
.pose .bg_r { background-color: #CC0000; }
.pose .bg_g { background-color: #00CC00; }
.pose .bg_y { background-color: #CCCC00; }
.pose .bg_b { background-color: #0000CC; }
.pose .bg_m { background-color: #CC00CC; }
.pose .bg_c { background-color: #00CCCC; }
.pose .bg_w { background-color: #FFFFFF; }
.pose .bg_n { background-color: inherit; }

.pose bold_bg_n { color: #CCCCCC; font-weight: normal; }

.pose .fg_x { color: #000000; }
.pose .fg_r { color: #990000; }
.pose .fg_g { color: #009900; }
.pose .fg_y { color: #999900; }
.pose .fg_b { color: #000099; }
.pose .fg_m { color: #990099; }
.pose .fg_c { color: #009999; }
.pose .fg_w { color: #FFFFFF; }
.pose .fg_n { color: inherit; }

.pose .bold_fg_x { color: #999999; }
.pose .bold_fg_r { color: #FF0000; }
.pose .bold_fg_g { color: #00FF00; }
.pose .bold_fg_y { color: #FFFF00; }
.pose .bold_fg_b { color: #0000FF; }
.pose .bold_fg_m { color: #FF00FF; }
.pose .bold_fg_c { color: #00FFFF; }
.pose .bold_fg_w { color: #CCCCCC; }
.pose .bold_fg_n { color: #CCCCCC; }

/* 256 Color Base */
.pose .fg_0 { color: #000000; }
.pose .fg_1 { color: #800000; }
.pose .fg_2 { color: #008000; }
.pose .fg_3 { color: #808000; }
.pose .fg_4 { color: #000080; }
.pose .fg_5 { color: #800080; }
.pose .fg_6 { color: #008080; }
.pose .fg_7 { color: #c0c0c0; }
.pose .fg_8 { color: #808080; }
.pose .fg_9 { color: #ff0000; }
.pose .fg_10 { color: #00ff00; }
.pose .fg_11 { color: #ffff00; }
.pose .fg_12 { color: #0000ff; }
.pose .fg_13 { color: #ff00ff; }
.pose .fg_14 { color: #00ffff; }
.pose .fg_15 { color: #ffffff; }
.pose .fg_16 { color: #000000; }
.pose .fg_17 { color: #00005f; }
.pose .fg_18 { color: #000087; }
.pose .fg_19 { color: #0000af; }
.pose .fg_20 { color: #0000d7; }
.pose .fg_21 { color: #0000ff; }
.pose .fg_22 { color: #005f00; }
.pose .fg_23 { color: #005f5f; }
.pose .fg_24 { color: #005f87; }
.pose .fg_25 { color: #005faf; }
.pose .fg_26 { color: #005fd7; }
.pose .fg_27 { color: #005fff; }
.pose .fg_28 { color: #008700; }
.pose .fg_29 { color: #00875f; }
.pose .fg_30 { color: #008787; }
.pose .fg_31 { color: #0087af; }
.pose .fg_32 { color: #0087d7; }
.pose .fg_33 { color: #0087ff; }
.pose .fg_34 { color: #00af00; }
.pose .fg_35 { color: #00af5f; }
.pose .fg_36 { color: #00af87; }
.pose .fg_37 { color: #00afaf; }
.pose .fg_38 { color: #00afd7; }
.pose .fg_39 { color: #00afff; }
.pose .fg_40 { color: #00d700; }
.pose .fg_41 { color: #00d75f; }
.pose .fg_42 { color: #00d787; }
.pose .fg_43 { color: #00d7af; }
.pose .fg_44 { color: #00d7d7; }
.pose .fg_45 { color: #00d7ff; }
.pose .fg_46 { color: #00ff00; }
.pose .fg_47 { color: #00ff5f; }
.pose .fg_48 { color: #00ff87; }
.pose .fg_49 { color: #00ffaf; }
.pose .fg_50 { color: #00ffd7; }
.pose .fg_51 { color: #00ffff; }
.pose .fg_52 { color: #5f0000; }
.pose .fg_53 { color: #5f005f; }
.pose .fg_54 { color: #5f0087; }
.pose .fg_55 { color: #5f00af; }
.pose .fg_56 { color: #5f00d7; }
.pose .fg_57 { color: #5f00ff; }
.pose .fg_58 { color: #5f5f00; }
.pose .fg_59 { color: #5f5f5f; }
.pose .fg_60 { color: #5f5f87; }
.pose .fg_61 { color: #5f5faf; }
.pose .fg_62 { color: #5f5fd7; }
.pose .fg_63 { color: #5f5fff; }
.pose .fg_64 { color: #5f8700; }
.pose .fg_65 { color: #5f875f; }
.pose .fg_66 { color: #5f8787; }
.pose .fg_67 { color: #5f87af; }
.pose .fg_68 { color: #5f87d7; }
.pose .fg_69 { color: #5f87ff; }
.pose .fg_70 { color: #5faf00; }
.pose .fg_71 { color: #5faf5f; }
.pose .fg_72 { color: #5faf87; }
.pose .fg_73 { color: #5fafaf; }
.pose .fg_74 { color: #5fafd7; }
.pose .fg_75 { color: #5fafff; }
.pose .fg_76 { color: #5fd700; }
.pose .fg_77 { color: #5fd75f; }
.pose .fg_78 { color: #5fd787; }
.pose .fg_79 { color: #5fd7af; }
.pose .fg_80 { color: #5fd7d7; }
.pose .fg_81 { color: #5fd7ff; }
.pose .fg_82 { color: #5fff00; }
.pose .fg_83 { color: #5fff5f; }
.pose .fg_84 { color: #5fff87; }
.pose .fg_85 { color: #5fffaf; }
.pose .fg_86 { color: #5fffd7; }
.pose .fg_87 { color: #5fffff; }
.pose .fg_88 { color: #870000; }
.pose .fg_89 { color: #87005f; }
.pose .fg_90 { color: #870087; }
.pose .fg_91 { color: #8700af; }
.pose .fg_92 { color: #8700d7; }
.pose .fg_93 { color: #8700ff; }
.pose .fg_94 { color: #875f00; }
.pose .fg_95 { color: #875f5f; }
.pose .fg_96 { color: #875f87; }
.pose .fg_97 { color: #875faf; }
.pose .fg_98 { color: #875fd7; }
.pose .fg_99 { color: #875fff; }
.pose .fg_100 { color: #878700; }
.pose .fg_101 { color: #87875f; }
.pose .fg_102 { color: #878787; }
.pose .fg_103 { color: #8787af; }
.pose .fg_104 { color: #8787d7; }
.pose .fg_105 { color: #8787ff; }
.pose .fg_106 { color: #87af00; }
.pose .fg_107 { color: #87af5f; }
.pose .fg_108 { color: #87af87; }
.pose .fg_109 { color: #87afaf; }
.pose .fg_110 { color: #87afd7; }
.pose .fg_111 { color: #87afff; }
.pose .fg_112 { color: #87d700; }
.pose .fg_113 { color: #87d75f; }
.pose .fg_114 { color: #87d787; }
.pose .fg_115 { color: #87d7af; }
.pose .fg_116 { color: #87d7d7; }
.pose .fg_117 { color: #87d7ff; }
.pose .fg_118 { color: #87ff00; }
.pose .fg_119 { color: #87ff5f; }
.pose .fg_120 { color: #87ff87; }
.pose .fg_121 { color: #87ffaf; }
.pose .fg_122 { color: #87ffd7; }
.pose .fg_123 { color: #87ffff; }
.pose .fg_124 { color: #af0000; }
.pose .fg_125 { color: #af005f; }
.pose .fg_126 { color: #af0087; }
.pose .fg_127 { color: #af00af; }
.pose .fg_128 { color: #af00d7; }
.pose .fg_129 { color: #af00ff; }
.pose .fg_130 { color: #af5f00; }
.pose .fg_131 { color: #af5f5f; }
.pose .fg_132 { color: #af5f87; }
.pose .fg_133 { color: #af5faf; }
.pose .fg_134 { color: #af5fd7; }
.pose .fg_135 { color: #af5fff; }
.pose .fg_136 { color: #af8700; }
.pose .fg_137 { color: #af875f; }
.pose .fg_138 { color: #af8787; }
.pose .fg_139 { color: #af87af; }
.pose .fg_140 { color: #af87d7; }
.pose .fg_141 { color: #af87ff; }
.pose .fg_142 { color: #afaf00; }
.pose .fg_143 { color: #afaf5f; }
.pose .fg_144 { color: #afaf87; }
.pose .fg_145 { color: #afafaf; }
.pose .fg_146 { color: #afafd7; }
.pose .fg_147 { color: #afafff; }
.pose .fg_148 { color: #afd700; }
.pose .fg_149 { color: #afd75f; }
.pose .fg_150 { color: #afd787; }
.pose .fg_151 { color: #afd7af; }
.pose .fg_152 { color: #afd7d7; }
.pose .fg_153 { color: #afd7ff; }
.pose .fg_154 { color: #afff00; }
.pose .fg_155 { color: #afff5f; }
.pose .fg_156 { color: #afff87; }
.pose .fg_157 { color: #afffaf; }
.pose .fg_158 { color: #afffd7; }
.pose .fg_159 { color: #afffff; }
.pose .fg_160 { color: #d70000; }
.pose .fg_161 { color: #d7005f; }
.pose .fg_162 { color: #d70087; }
.pose .fg_163 { color: #d700af; }
.pose .fg_164 { color: #d700d7; }
.pose .fg_165 { color: #d700ff; }
.pose .fg_166 { color: #d75f00; }
.pose .fg_167 { color: #d75f5f; }
.pose .fg_168 { color: #d75f87; }
.pose .fg_169 { color: #d75faf; }
.pose .fg_170 { color: #d75fd7; }
.pose .fg_171 { color: #d75fff; }
.pose .fg_172 { color: #d78700; }
.pose .fg_173 { color: #d7875f; }
.pose .fg_174 { color: #d78787; }
.pose .fg_175 { color: #d787af; }
.pose .fg_176 { color: #d787d7; }
.pose .fg_177 { color: #d787ff; }
.pose .fg_178 { color: #d7af00; }
.pose .fg_179 { color: #d7af5f; }
.pose .fg_180 { color: #d7af87; }
.pose .fg_181 { color: #d7afaf; }
.pose .fg_182 { color: #d7afd7; }
.pose .fg_183 { color: #d7afff; }
.pose .fg_184 { color: #d7d700; }
.pose .fg_185 { color: #d7d75f; }
.pose .fg_186 { color: #d7d787; }
.pose .fg_187 { color: #d7d7af; }
.pose .fg_188 { color: #d7d7d7; }
.pose .fg_189 { color: #d7d7ff; }
.pose .fg_190 { color: #d7ff00; }
.pose .fg_191 { color: #d7ff5f; }
.pose .fg_192 { color: #d7ff87; }
.pose .fg_193 { color: #d7ffaf; }
.pose .fg_194 { color: #d7ffd7; }
.pose .fg_195 { color: #d7ffff; }
.pose .fg_196 { color: #ff0000; }
.pose .fg_197 { color: #ff005f; }
.pose .fg_198 { color: #ff0087; }
.pose .fg_199 { color: #ff00af; }
.pose .fg_200 { color: #ff00d7; }
.pose .fg_201 { color: #ff00ff; }
.pose .fg_202 { color: #ff5f00; }
.pose .fg_203 { color: #ff5f5f; }
.pose .fg_204 { color: #ff5f87; }
.pose .fg_205 { color: #ff5faf; }
.pose .fg_206 { color: #ff5fd7; }
.pose .fg_207 { color: #ff5fff; }
.pose .fg_208 { color: #ff8700; }
.pose .fg_209 { color: #ff875f; }
.pose .fg_210 { color: #ff8787; }
.pose .fg_211 { color: #ff87af; }
.pose .fg_212 { color: #ff87d7; }
.pose .fg_213 { color: #ff87ff; }
.pose .fg_214 { color: #ffaf00; }
.pose .fg_215 { color: #ffaf5f; }
.pose .fg_216 { color: #ffaf87; }
.pose .fg_217 { color: #ffafaf; }
.pose .fg_218 { color: #ffafd7; }
.pose .fg_219 { color: #ffafff; }
.pose .fg_220 { color: #ffd700; }
.pose .fg_221 { color: #ffd75f; }
.pose .fg_222 { color: #ffd787; }
.pose .fg_223 { color: #ffd7af; }
.pose .fg_224 { color: #ffd7d7; }
.pose .fg_225 { color: #ffd7ff; }
.pose .fg_226 { color: #ffff00; }
.pose .fg_227 { color: #ffff5f; }
.pose .fg_228 { color: #ffff87; }
.pose .fg_229 { color: #ffffaf; }
.pose .fg_230 { color: #ffffd7; }
.pose .fg_231 { color: #ffffff; }
.pose .fg_232 { color: #080808; }
.pose .fg_233 { color: #121212; }
.pose .fg_234 { color: #1c1c1c; }
.pose .fg_235 { color: #262626; }
.pose .fg_236 { color: #303030; }
.pose .fg_237 { color: #3a3a3a; }
.pose .fg_238 { color: #444444; }
.pose .fg_239 { color: #4e4e4e; }
.pose .fg_240 { color: #585858; }
.pose .fg_241 { color: #626262; }
.pose .fg_242 { color: #6c6c6c; }
.pose .fg_243 { color: #767676; }
.pose .fg_244 { color: #808080; }
.pose .fg_245 { color: #8a8a8a; }
.pose .fg_246 { color: #949494; }
.pose .fg_247 { color: #9e9e9e; }
.pose .fg_248 { color: #a8a8a8; }
.pose .fg_249 { color: #b2b2b2; }
.pose .fg_250 { color: #bcbcbc; }
.pose .fg_251 { color: #c6c6c6; }
.pose .fg_252 { color: #d0d0d0; }
.pose .fg_253 { color: #dadada; }
.pose .fg_254 { color: #e4e4e4; }
.pose .fg_255 { color: #eeeeee; }

.pose .bg_0 { background-color: #000000; }
.pose .bg_1 { background-color: #800000; }
.pose .bg_2 { background-color: #008000; }
.pose .bg_3 { background-color: #808000; }
.pose .bg_4 { background-color: #000080; }
.pose .bg_5 { background-color: #800080; }
.pose .bg_6 { background-color: #008080; }
.pose .bg_7 { background-color: #c0c0c0; }
.pose .bg_8 { background-color: #808080; }
.pose .bg_9 { background-color: #ff0000; }
.pose .bg_10 { background-color: #00ff00; }
.pose .bg_11 { background-color: #ffff00; }
.pose .bg_12 { background-color: #0000ff; }
.pose .bg_13 { background-color: #ff00ff; }
.pose .bg_14 { background-color: #00ffff; }
.pose .bg_15 { background-color: #ffffff; }
.pose .bg_16 { background-color: #000000; }
.pose .bg_17 { background-color: #00005f; }
.pose .bg_18 { background-color: #000087; }
.pose .bg_19 { background-color: #0000af; }
.pose .bg_20 { background-color: #0000d7; }
.pose .bg_21 { background-color: #0000ff; }
.pose .bg_22 { background-color: #005f00; }
.pose .bg_23 { background-color: #005f5f; }
.pose .bg_24 { background-color: #005f87; }
.pose .bg_25 { background-color: #005faf; }
.pose .bg_26 { background-color: #005fd7; }
.pose .bg_27 { background-color: #005fff; }
.pose .bg_28 { background-color: #008700; }
.pose .bg_29 { background-color: #00875f; }
.pose .bg_30 { background-color: #008787; }
.pose .bg_31 { background-color: #0087af; }
.pose .bg_32 { background-color: #0087d7; }
.pose .bg_33 { background-color: #0087ff; }
.pose .bg_34 { background-color: #00af00; }
.pose .bg_35 { background-color: #00af5f; }
.pose .bg_36 { background-color: #00af87; }
.pose .bg_37 { background-color: #00afaf; }
.pose .bg_38 { background-color: #00afd7; }
.pose .bg_39 { background-color: #00afff; }
.pose .bg_40 { background-color: #00d700; }
.pose .bg_41 { background-color: #00d75f; }
.pose .bg_42 { background-color: #00d787; }
.pose .bg_43 { background-color: #00d7af; }
.pose .bg_44 { background-color: #00d7d7; }
.pose .bg_45 { background-color: #00d7ff; }
.pose .bg_46 { background-color: #00ff00; }
.pose .bg_47 { background-color: #00ff5f; }
.pose .bg_48 { background-color: #00ff87; }
.pose .bg_49 { background-color: #00ffaf; }
.pose .bg_50 { background-color: #00ffd7; }
.pose .bg_51 { background-color: #00ffff; }
.pose .bg_52 { background-color: #5f0000; }
.pose .bg_53 { background-color: #5f005f; }
.pose .bg_54 { background-color: #5f0087; }
.pose .bg_55 { background-color: #5f00af; }
.pose .bg_56 { background-color: #5f00d7; }
.pose .bg_57 { background-color: #5f00ff; }
.pose .bg_58 { background-color: #5f5f00; }
.pose .bg_59 { background-color: #5f5f5f; }
.pose .bg_60 { background-color: #5f5f87; }
.pose .bg_61 { background-color: #5f5faf; }
.pose .bg_62 { background-color: #5f5fd7; }
.pose .bg_63 { background-color: #5f5fff; }
.pose .bg_64 { background-color: #5f8700; }
.pose .bg_65 { background-color: #5f875f; }
.pose .bg_66 { background-color: #5f8787; }
.pose .bg_67 { background-color: #5f87af; }
.pose .bg_68 { background-color: #5f87d7; }
.pose .bg_69 { background-color: #5f87ff; }
.pose .bg_70 { background-color: #5faf00; }
.pose .bg_71 { background-color: #5faf5f; }
.pose .bg_72 { background-color: #5faf87; }
.pose .bg_73 { background-color: #5fafaf; }
.pose .bg_74 { background-color: #5fafd7; }
.pose .bg_75 { background-color: #5fafff; }
.pose .bg_76 { background-color: #5fd700; }
.pose .bg_77 { background-color: #5fd75f; }
.pose .bg_78 { background-color: #5fd787; }
.pose .bg_79 { background-color: #5fd7af; }
.pose .bg_80 { background-color: #5fd7d7; }
.pose .bg_81 { background-color: #5fd7ff; }
.pose .bg_82 { background-color: #5fff00; }
.pose .bg_83 { background-color: #5fff5f; }
.pose .bg_84 { background-color: #5fff87; }
.pose .bg_85 { background-color: #5fffaf; }
.pose .bg_86 { background-color: #5fffd7; }
.pose .bg_87 { background-color: #5fffff; }
.pose .bg_88 { background-color: #870000; }
.pose .bg_89 { background-color: #87005f; }
.pose .bg_90 { background-color: #870087; }
.pose .bg_91 { background-color: #8700af; }
.pose .bg_92 { background-color: #8700d7; }
.pose .bg_93 { background-color: #8700ff; }
.pose .bg_94 { background-color: #875f00; }
.pose .bg_95 { background-color: #875f5f; }
.pose .bg_96 { background-color: #875f87; }
.pose .bg_97 { background-color: #875faf; }
.pose .bg_98 { background-color: #875fd7; }
.pose .bg_99 { background-color: #875fff; }
.pose .bg_100 { background-color: #878700; }
.pose .bg_101 { background-color: #87875f; }
.pose .bg_102 { background-color: #878787; }
.pose .bg_103 { background-color: #8787af; }
.pose .bg_104 { background-color: #8787d7; }
.pose .bg_105 { background-color: #8787ff; }
.pose .bg_106 { background-color: #87af00; }
.pose .bg_107 { background-color: #87af5f; }
.pose .bg_108 { background-color: #87af87; }
.pose .bg_109 { background-color: #87afaf; }
.pose .bg_110 { background-color: #87afd7; }
.pose .bg_111 { background-color: #87afff; }
.pose .bg_112 { background-color: #87d700; }
.pose .bg_113 { background-color: #87d75f; }
.pose .bg_114 { background-color: #87d787; }
.pose .bg_115 { background-color: #87d7af; }
.pose .bg_116 { background-color: #87d7d7; }
.pose .bg_117 { background-color: #87d7ff; }
.pose .bg_118 { background-color: #87ff00; }
.pose .bg_119 { background-color: #87ff5f; }
.pose .bg_120 { background-color: #87ff87; }
.pose .bg_121 { background-color: #87ffaf; }
.pose .bg_122 { background-color: #87ffd7; }
.pose .bg_123 { background-color: #87ffff; }
.pose .bg_124 { background-color: #af0000; }
.pose .bg_125 { background-color: #af005f; }
.pose .bg_126 { background-color: #af0087; }
.pose .bg_127 { background-color: #af00af; }
.pose .bg_128 { background-color: #af00d7; }
.pose .bg_129 { background-color: #af00ff; }
.pose .bg_130 { background-color: #af5f00; }
.pose .bg_131 { background-color: #af5f5f; }
.pose .bg_132 { background-color: #af5f87; }
.pose .bg_133 { background-color: #af5faf; }
.pose .bg_134 { background-color: #af5fd7; }
.pose .bg_135 { background-color: #af5fff; }
.pose .bg_136 { background-color: #af8700; }
.pose .bg_137 { background-color: #af875f; }
.pose .bg_138 { background-color: #af8787; }
.pose .bg_139 { background-color: #af87af; }
.pose .bg_140 { background-color: #af87d7; }
.pose .bg_141 { background-color: #af87ff; }
.pose .bg_142 { background-color: #afaf00; }
.pose .bg_143 { background-color: #afaf5f; }
.pose .bg_144 { background-color: #afaf87; }
.pose .bg_145 { background-color: #afafaf; }
.pose .bg_146 { background-color: #afafd7; }
.pose .bg_147 { background-color: #afafff; }
.pose .bg_148 { background-color: #afd700; }
.pose .bg_149 { background-color: #afd75f; }
.pose .bg_150 { background-color: #afd787; }
.pose .bg_151 { background-color: #afd7af; }
.pose .bg_152 { background-color: #afd7d7; }
.pose .bg_153 { background-color: #afd7ff; }
.pose .bg_154 { background-color: #afff00; }
.pose .bg_155 { background-color: #afff5f; }
.pose .bg_156 { background-color: #afff87; }
.pose .bg_157 { background-color: #afffaf; }
.pose .bg_158 { background-color: #afffd7; }
.pose .bg_159 { background-color: #afffff; }
.pose .bg_160 { background-color: #d70000; }
.pose .bg_161 { background-color: #d7005f; }
.pose .bg_162 { background-color: #d70087; }
.pose .bg_163 { background-color: #d700af; }
.pose .bg_164 { background-color: #d700d7; }
.pose .bg_165 { background-color: #d700ff; }
.pose .bg_166 { background-color: #d75f00; }
.pose .bg_167 { background-color: #d75f5f; }
.pose .bg_168 { background-color: #d75f87; }
.pose .bg_169 { background-color: #d75faf; }
.pose .bg_170 { background-color: #d75fd7; }
.pose .bg_171 { background-color: #d75fff; }
.pose .bg_172 { background-color: #d78700; }
.pose .bg_173 { background-color: #d7875f; }
.pose .bg_174 { background-color: #d78787; }
.pose .bg_175 { background-color: #d787af; }
.pose .bg_176 { background-color: #d787d7; }
.pose .bg_177 { background-color: #d787ff; }
.pose .bg_178 { background-color: #d7af00; }
.pose .bg_179 { background-color: #d7af5f; }
.pose .bg_180 { background-color: #d7af87; }
.pose .bg_181 { background-color: #d7afaf; }
.pose .bg_182 { background-color: #d7afd7; }
.pose .bg_183 { background-color: #d7afff; }
.pose .bg_184 { background-color: #d7d700; }
.pose .bg_185 { background-color: #d7d75f; }
.pose .bg_186 { background-color: #d7d787; }
.pose .bg_187 { background-color: #d7d7af; }
.pose .bg_188 { background-color: #d7d7d7; }
.pose .bg_189 { background-color: #d7d7ff; }
.pose .bg_190 { background-color: #d7ff00; }
.pose .bg_191 { background-color: #d7ff5f; }
.pose .bg_192 { background-color: #d7ff87; }
.pose .bg_193 { background-color: #d7ffaf; }
.pose .bg_194 { background-color: #d7ffd7; }
.pose .bg_195 { background-color: #d7ffff; }
.pose .bg_196 { background-color: #ff0000; }
.pose .bg_197 { background-color: #ff005f; }
.pose .bg_198 { background-color: #ff0087; }
.pose .bg_199 { background-color: #ff00af; }
.pose .bg_200 { background-color: #ff00d7; }
.pose .bg_201 { background-color: #ff00ff; }
.pose .bg_202 { background-color: #ff5f00; }
.pose .bg_203 { background-color: #ff5f5f; }
.pose .bg_204 { background-color: #ff5f87; }
.pose .bg_205 { background-color: #ff5faf; }
.pose .bg_206 { background-color: #ff5fd7; }
.pose .bg_207 { background-color: #ff5fff; }
.pose .bg_208 { background-color: #ff8700; }
.pose .bg_209 { background-color: #ff875f; }
.pose .bg_210 { background-color: #ff8787; }
.pose .bg_211 { background-color: #ff87af; }
.pose .bg_212 { background-color: #ff87d7; }
.pose .bg_213 { background-color: #ff87ff; }
.pose .bg_214 { background-color: #ffaf00; }
.pose .bg_215 { background-color: #ffaf5f; }
.pose .bg_216 { background-color: #ffaf87; }
.pose .bg_217 { background-color: #ffafaf; }
.pose .bg_218 { background-color: #ffafd7; }
.pose .bg_219 { background-color: #ffafff; }
.pose .bg_220 { background-color: #ffd700; }
.pose .bg_221 { background-color: #ffd75f; }
.pose .bg_222 { background-color: #ffd787; }
.pose .bg_223 { background-color: #ffd7af; }
.pose .bg_224 { background-color: #ffd7d7; }
.pose .bg_225 { background-color: #ffd7ff; }
.pose .bg_226 { background-color: #ffff00; }
.pose .bg_227 { background-color: #ffff5f; }
.pose .bg_228 { background-color: #ffff87; }
.pose .bg_229 { background-color: #ffffaf; }
.pose .bg_230 { background-color: #ffffd7; }
.pose .bg_231 { background-color: #ffffff; }
.pose .bg_232 { background-color: #080808; }
.pose .bg_233 { background-color: #121212; }
.pose .bg_234 { background-color: #1c1c1c; }
.pose .bg_235 { background-color: #262626; }
.pose .bg_236 { background-color: #303030; }
.pose .bg_237 { background-color: #3a3a3a; }
.pose .bg_238 { background-color: #444444; }
.pose .bg_239 { background-color: #4e4e4e; }
.pose .bg_240 { background-color: #585858; }
.pose .bg_241 { background-color: #626262; }
.pose .bg_242 { background-color: #6c6c6c; }
.pose .bg_243 { background-color: #767676; }
.pose .bg_244 { background-color: #808080; }
.pose .bg_245 { background-color: #8a8a8a; }
.pose .bg_246 { background-color: #949494; }
.pose .bg_247 { background-color: #9e9e9e; }
.pose .bg_248 { background-color: #a8a8a8; }
.pose .bg_249 { background-color: #b2b2b2; }
.pose .bg_250 { background-color: #bcbcbc; }
.pose .bg_251 { background-color: #c6c6c6; }
.pose .bg_252 { background-color: #d0d0d0; }
.pose .bg_253 { background-color: #dadada; }
.pose .bg_254 { background-color: #e4e4e4; }
.pose .bg_255 { background-color: #eeeeee; }